* {
  box-sizing: border-box
}
html {
  height: 100%;
}
body{
  margin: 0;
  font-family: 'Comfortaa', cursive;
  height: 100%;
  text-align: center;
}

/* navbar */

.navUl{
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.navLi{
  float: left;
  width: 25%;
  text-align: center;
  font-size: 14px;
}
.navA{
  display: block;
  padding: 8px;
  background: #333;
  text-decoration: none;
  color: white;
  padding: 10px;
}
.navA:hover{
  background: #777;
}

/* about */

main{
  min-height: 100%;
}
h1{
  font-size: 25px;
  letter-spacing: 10px;
  padding: 70px 0px 0px 0px;
}
.about{
  color: #333;
  padding-bottom: 2vw;
}
.para{
  text-align: center;
  margin: 0px 5vw;
  padding-top: 3vh;
  font-size: 16px;
  line-height: 2em;
}

/* skills */

.skills{
  padding-top: 10px;
  height: auto;
}
.inline{
  display: inline-block;
  padding: 10px;
}
.front, .back, .other{
  padding: 10px 0px 10px 0px; 
}
.button {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #ddd;
  cursor: pointer;
}
.button:hover {
  background-color: #ccc;
}
.button.active {
  background-color: #666;
  color: white;
}
.tech{
  padding-top: 3vh;
  color: #eee;
  font-size: 40px;
  letter-spacing: 15px;
}
.logos{
  height: 60px;
  width: 60px; 
  margin: 10px;
}
.logo-text{
  font-size: 14px;
}
.Mongoose{
  height: 50px;
  padding-bottom: 5px
}
.TeX{
  height: 50px;
  padding-bottom: 10px
}

/* footer */

.none {
  display: none;
}
.copyright{
  font-size: 11px;
}

/* Media Querries */

@media screen and (max-width: 1000px) {
  .col2 {
    width: 50%;
  }
  .cell {
    width: 60vw;
  }
}
@media screen and (max-width: 800px) {
  .vidBox1{ 
    display: none;
  }
  .cell {
    width: 70vw;
  }
  .logos {
    height: 70px;
    width: 70px;
  }
  .Mongoose{
    height: 50px;
    padding-bottom: 15px
  }
  .TeX{
    height: 50px;
    padding-bottom: 10px
  }
  .tech{
    font-size: 30px;
    letter-spacing: 15px;
  }
}
@media screen and (max-width: 600px) {
  .cell {
    width: 80vw;
  }
  .tech{
    font-size: 25px;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 550px) {
  .col2 {
    width: 100%;
  }
  .text{
    display: none;
  }
  .tech{
    font-size: 20px;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 400px) {
  .logos {
    height: 40px;
    width: 40px;
  }
  .Mongoose{
    height: 30px;
    padding-bottom: 5px
  }
  .TeX{
    height: 30px;
    padding-bottom: 5px
  }
  .inline, .logo-text{
    font-size: 0px;
  }
  h1{
    font-size: 20px;
  }
  .para{
    text-align: left;
    margin: 0 10%;
  }
  .copyright{
    font-size: 13px;
  }
}