html{
  height: 100%;
}
body{
  background-color: a;
  background: linear-gradient(to top right, lightblue, lightcoral);
  font-family: 'Cairo', sans-serif;
}

.tooltip{
  position: absolute;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 2px;
  background: lightsteelblue;
  box-shadow: 1px 1px 10px;
  line-height: 20px;
  pointer-events: none;
}

.cell.active{
  fill: white;
}