*{
  box-sizing: border-box;
}
html, body{
  height: 100%;
  margin: 0;
}
.bg-images{
  height: 100%;
  width: 100%;
  position: relative;
}
.slide{
  height: 100%;
  width: 100%;
  display: none;
  background: #ccc;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}
.slide0{
  background-image: url("https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.slide1{
  background-image: url("https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.slide2{
  background-image: url("https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.slide3{
  background-image: url("https://images.pexels.com/photos/258288/pexels-photo-258288.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.title{
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
}

/* nav */
.navbar {
  overflow: hidden;
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn{
  font-size: 16px;  
  border: none;
  outline: none;
  color: wheat;
  padding: 14px 16px;
  background: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background: #85144b;
  color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.navbar .icon:hover{
  background: lightblue;
  cursor: default;
}
.navbar .icon {
  display: none;
  font-weight: 900;
}

/* band */
.band{
  text-align: center;
  padding: 2vw;
}
.band p{
  font-size: 17px;
  line-height: 2rem;
  padding-bottom: 1rem;
}


/* tour dates */
.tour{
  background: #333;
  color: white;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 1vw;
}
.column{
  float: left;
  width: 33.33%;
  padding: 3vw;
}
.row::after{
  clear: both;
  content: '';
  display: table;
}
.team{
  margin-top: 4vw;
  text-align: center;
}
.team-title{
  font-size: 40px;
}
.card{
  position: relative;
  text-align: center;
  border: 1px solid #222;
}
.card:hover{
 box-shadow: 0px 3px 10px #000;
}
.card img{
  width: 100%;
}
.grid3{
  content: "";
  display: table;
  clear: both;
}
.titles {
  color: #999;
  font-size: 18px;
  padding-bottom: .5rem;
}
.info{
  padding: 1rem;
  padding-bottom: 2rem;
}
.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background: #111;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  opacity: .8;
}
p{
  margin: 0;
}
.card button:hover, a:hover {
  opacity: 1;
}

/* modals */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
}
.modal-content {
  background: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}
.closeBtn{
  position: absolute;
  top: -1%;
  right: -.25%;
  padding: 5px;
  color: black;
  font-size: 25px;
  font-weight: 900;
}
.closeBtn{
  cursor: pointer;
}
.modal-head span:hover{
  cursor: pointer;
}
.form input[type=text]{
  margin-bottom: 1rem;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.row-m {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}
.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}
.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}
.col-100 {
  -ms-flex: 100%;
  flex: 100%;
}
.col-25,
.col-50,
.col-75,
.col-100 {
  padding: 0 16px;
}
.row-m .col-100:nth-of-type(1){
  padding-bottom: 20px;
}
.container {
  background: #eee;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label {
  margin-bottom: 10px;
  display: block;
}
.btn {
  background: #85144b;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.btn:hover {
  background: #45a049;
}
.link {
  color: #2196F3;
}
span.price {
  float: right;
  color: grey;
}

/* contact */
.contact{
  text-align: center;
  padding: 2vw;
}
.email{
  font-size: 17px;
  padding: .5rem 0 2rem 0;
}
form {
  border: 3px solid #eee;
  font-family: Arial;
}
.container {
  padding: 20px;
  background: #eee;
  color: #333;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=checkbox] {
  margin-top: 16px;
}
input[type=submit] {
  background: #222;
  color: white;
  border: none;
  font-size: 18px;
}
input[type=submit]:hover {
  opacity: 0.8;
}

.image{
  height: 500px;
  background-image: url('https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background: #ccc;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

/* footer */
.footer{
  text-align: center;
  padding: 2vw 0;
}
.footer a{
  font-size: 14px;
  padding: 1rem;
}
.footer a:hover{
  cursor: pointer;
  color: red;
}
.copy{
  margin-top: 1.5rem;
}

/* medias */
@media (max-width: 800px) {
  .modal-content{
    width: 95%;
  }
  .col-50 {
    flex: 100%;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 5px 5px;
  }
  .dropdown{
    display: none;
  }
}