body{
  background: linear-gradient(45deg, whitesmoke 0%, gainsboro 25%, gray 25%, darkgray 50%, silver 50%, darkgray 75%, silver 75%, lightgray 100%);
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.container {
  width: 360px;
  overflow: auto;
  padding: 1em;
  background: darkslategray;
  margin: 70px auto;
}
.screen{
  text-align: right;
  padding: 0px 8px;
  font-size: 60px;
  height: 70px;
  color: white;
  background: #0d0630;
  overflow: hidden;
}
.button {
  color: white;
  font-size: 20px;
  float: left;
  background: gray;
  text-align: center;
  line-height: 100px;
  width: 90px; 
  height: 90px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  border: none;
}
.button:nth-of-type(1),.button:nth-of-type(2),.button:nth-of-type(3){
  color: white;
  background: lightskyblue;
}
.button:nth-of-type(4),.button:nth-of-type(8),.button:nth-of-type(12),.button:nth-of-type(16),.button:nth-of-type(19){
  color: white;
  background: steelblue;
}
.button:nth-of-type(17){
  width: 180px;
}
.button:hover{
  color: black;
  background: whitesmoke;
  cursor: pointer;
}