html, body{ 
  height: 100%; 
} 
body{
  margin: 0; 
  text-align: center;
  font-family: 'Stylish', sans-serif;
}
section{
  margin: 100px 0px;
}
#main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marg{
  padding-top: 30px;
}
#fixed{
  position: fixed;
  top: 0;
  left: 0;
}
#fixed2{
  position: fixed;
  bottom: 0;
  right: 0;
}
.text {
  font-family: monospace;
  font-family: 'Major Mono Display', monospace;
  font-size: 7px;
}
.enter {
  fill: #0074D9;
}
.update {
  fill: #333;
}
.exit {
  fill: #FF4136;
}

/* nav */
.open{
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
  color: #0074D9;
}
.open:hover, .closebtn:hover{
  cursor: default;
}
.sidenav {
  font-family: 'Major Mono Display', monospace;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #0074D9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  cursor: default;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}
.nav-width{
  width: 200px
}
@media only screen and (max-width: 400px){
  .nav-width{ width: 50%; }
}

/* line */
.line-line { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.line-axis {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

/* bar */
#barGraph{
  width: 80%;
  margin: auto;
}
.bar_bar{
  fill: #b0413e;
}
.bar_bar:hover {
  fill: black;
}
.bar_title{
  font-family: monospace;
  color: white;
}
.bar_tooltip{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 200px;
  height: 100px;
  padding: 2px;
  background: white;
  left: 25%;
  top: 25%;
  border: 1px solid black;
}
.bar_axis line{
  stroke: black;
}
.bar_axis path{
  stroke: black;
}
.bar_axis text{
  fill: black;
}

/* dot */
.dot{
  fill: #b0413e;
}
.dot:hover {
  fill: #a5e6ba;
}
.dot_tooltip{
  position: absolute;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 2px;
  background: white;
  box-shadow: 1px 1px 10px;
  line-height: 20px;
  pointer-events: none;
}

/* box */
.box_tooltip{
  position: absolute;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 2px;
  background: white;
  box-shadow: 1px 1px 10px;
  line-height: 20px;
  pointer-events: none;
}
.cell.active{
  fill: white;
}

input[type=button]{
  border: none;
  padding: 5px 10px;
  background: #ccc;
}
input[type=button]:hover{
  background: #aaa;
}