html, body{ 
  height: 100%; 
} 
body{
  margin: 0; 
  text-align: center;
  font-family: 'Stylish', sans-serif;
}
section{
  margin: 100px 0px;
}
#main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fixed{
  position: fixed;
  top: 0;
  left: 0;
}
.text {
  font-family: monospace;
  font-family: 'Major Mono Display', monospace;
  font-size: 5px;
}
.enter {
  fill: #0074D9;
}
.update {
  fill: #333;
}
.exit {
  fill: #FF4136;
}

/* line */
.line-line { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.line-axis {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

/* bar */
#barGraph{
  width: 80%;
  margin: auto;
}
.bar_bar{
  fill: #b0413e;
}
.bar_bar:hover {
  fill: black;
}
.bar_title{
  font-family: monospace;
  color: white;
}
.bar_tooltip{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 200px;
  height: 100px;
  padding: 2px;
  background: white;
  left: 25%;
  top: 25%;
  border: 1px solid black;
}
.bar_axis line{
  stroke: black;
}
.bar_axis path{
  stroke: black;
}
.bar_axis text{
  fill: black;
}

/* dot */
.dot{
  fill: #b0413e;
}
.dot:hover {
  fill: #a5e6ba;
}
.dot_tooltip{
  position: absolute;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 2px;
  background: white;
  box-shadow: 1px 1px 10px;
  line-height: 20px;
  pointer-events: none;
}

/* box */
.box_tooltip{
  position: absolute;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 2px;
  background: white;
  box-shadow: 1px 1px 10px;
  line-height: 20px;
  pointer-events: none;
}
.cell.active{
  fill: white;
}

input[type=button]{
  border: none;
  padding: 5px 10px;
  background: #ccc;
}
input[type=button]:hover{
  background: #aaa;
}