<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylsheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
        <li><a href="/cv">Projects</a></li>
        <li><a href="/blog">Contact</a></li>
      </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div>
    <footer>
      <ul>
        <li><a href="mailto:hedin090@umn.edu">email</a></li>
        <li><a href="https://github.com/Waymans">github.com/Waymans</a></li>
      </ul>
    </footer>
  </body>
</html>
