/* Animation, Transition, Flex, Background-Images, and Grid */

/* flex */
.flex {display: flex;}
.inline-flex {display: inline-flex;}
.alignC-cen {align-content: center;}
.alignC-fs {align-content: flex-start;}
.alignC-fe {align-content: flex-end;}
.alignC-sb {align-content: space-between;}
.alignC-sa {align-content: space-around;}
.alignI-cen {align-items: center;}
.alignI-fs {align-items: flex-start;}
.alignI-fe {align-items: flex-end;}
.alignI-bas {align-items: baseline;}
.alignS-str {align-self: stretch;}
.alignS-cen {align-self: center;}
.alignS-fs {align-self: flex-start;}
.alignS-fe {align-self: flex-end;}
.alignS-bas {align-self: baseline;}
.flex-rowR {flex-direction: row-reverse;}
.flex-col {flex-direction: column;}
.flex-colR {flex-direction: column-reverse;}
.flex-noWrap {flex-wrap: nowrap;}
.flex-wrapR {flex-wrap: wrap-reverse;}
.just-start {justify-content: flex-start;}
.just-end {justify-content: flex-end;}
.just-center {justify-content: center;}
.just-sb {justify-content: space-between;}
.just-sa {justify-content: space-around;}
.clear-l {clear: left;}
.clear-r {clear: right;}
.clear-b {clear: both;}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: block; }
.clearfix:after { 
  clear: both; }

/* animation */
.animTF {animation-timing-function: linear;}
.animTF {animation-timing-function: ease-in;}
.animTF {animation-timing-function: ease-out;}
.animTF {animation-timing-function: ease-in-out;}
.animIC-inf {animation-iteration-count: infinite;}
.animDir-rev {animation-direction: reverse;}
.animDir-alt {animation-direction: alternate;}
.animFM-for {animation-fill-mode: forwards;}
.animFM-bac {animation-fill-mode: backwards;}
.animFM-bot {animation-fill-mode: both;}
.animPS-run {animation-play-state: running;}
.animPS-pau {animation-play-state: paused;}

/* background */
.bgAtt-fix {background-attachment: fixed;}
.bgAtt-loc {background-attachment: local;}
.bgRep-x {background-repeat: repeat-x;}
.bgRep-y {background-repeat: repeat-y;}
.bgRep-no {background-repeat: no-repeat;}
.bgSiz-con {background-size: cover;}
.bgSiz-con {background-size: contain;}