/* CSS Template
 *
 * Author: Waylan Hedine
 */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal normal normal 1rem sans-serif;
  height: 100%; }

body {
  margin: 0;
  color: #333;
  background: white;
  font-size: 1rem;
  height: 100%; }

*,
*::before,
*::after {
  box-sizing: border-box; }

figure {
  margin: 0; }

/* Main
  =================================================================== */

p, 
ol, 
ul, 
dl, 
table {
  margin: 0 0 1.5rem 0; }

ul li ul {
  margin-bottom: 0; }

ol li ol {
  margin-bottom: 0; }

h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 1.2;
  color: #555; }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1.1rem; }

h5 {
  font-size: 1rem; }

@media (min-width: 600px) {
  h1 {
    font-size: 2.25rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.75rem; }
  h4 {
    font-size: 1.5rem; }
  h5 {
    font-size: 1.25rem; } }

a {
  color: #0366EE;
  text-decoration: none; }
a:hover, a:active, a:focus {
  color: #0246A2; }

kbd {
  color: #333; }
code {
  color: maroon;
  background: #ddd;
  font: 1rem Menlo, monospace; }
em {
  color: #333; }
var {
  color: blue;
  background: #ddd;
  font: 700 1.1rem Menlo, monospace;  }
var .string {
  color: maroon;
}
samp {
  color: #333; }
hr {
  height: 0;
  border: 0;
  border-top: 1px solid #ddd; }

.container {
  position: relative;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto; }

/* Grid
======================================================================= */
.flex{
  padding-left: 1rem;
  padding-right: 1rem; }

.flex-row {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flex {
  flex-basis: 100%;
  margin-bottom: 1rem; }

@media (min-width: 600px) {
  .flex {
    flex: 1 1 0;
    margin-bottom: 0; } }


/* Helpers
  ======================================================================== */
 
.contain { overflow: auto; }

@media (min-width: 600px) {
  .contain {
    width: 100%; } } 
  
.clearfix::before,
.clearfix::after {
  content: " ";
  display: block; }

.clearfix:after { 
  clear: both; }

.text-left { 
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.responsive-image {
  max-width: 100%;
  height: auto; }

.show {
  display: block; }

.hide {
  display: none; }

.invisible {
  visibility: hidden; }

.float-left {
  float: left; }

.float-right {
  float: right; }
  
.padding { 
  padding: 1rem; }

.no-padding {
  padding: 0; }

.no-padding-top {
  padding-top: 0; }

.no-padding-bottom {
  padding-bottom: 0; }

.padding-top {
  padding-top: 2rem; }

.padding-bottom {
  padding-bottom: 2rem; }
  
.margin {
  margin: 1rem; }

.no-margin {
  margin: 0; }

.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.margin-top {
  margin-top: 2rem; }

.margin-bottom {
  margin-bottom: 2rem; }

.scale { 
  transition: all .2s linear; }
.scale:hover { 
  transform: scale(1.01); }

.full {
  width: 100%; }

.partial {
  width: 50%; }


/* Buttons
  =========================================================================== */

.button {
  -webkit-appearance: none;
  display: inline-block;
  border: none;
  border-radius: .3rem;
  color: #fff;
  opacity: .8;
  font: 600 1rem sans-serif;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  line-height: 1; }

.button:hover {
  border: none;
  opacity: 1;
  color: white; }

.button:focus, 
.button:active {
  border: none;
  background: #0250bc;
  color: #fff;
  text-decoration: none; }

.button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.muted-button {
  background: transparent;
  border: 1px solid #ccc;
  color: #aaa; }
.muted-button:hover, 
.muted-button:focus, 
.muted-button:active {
  color: #888;
  border: 1px solid #aaa;
  background: transparent; }

.round-button {
  border-radius: 6rem; }

.square-button {
  border-radius: 0; }


/* Forms
  ======================================================================= */

.input {
  display: block;
  border: 1px solid #ccc;
  border-radius: .3rem;
  padding: .75rem;
  outline: none;
  background: transparent;
  margin-bottom: .5rem;
  font-size: 1rem;
  line-height: 1; }
 
.input:hover {
  border: 1px solid #999; }
 
.input:focus, 
.input:active{
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px steelblue; }

textarea {
  overflow: auto;
  height: auto; }

select {
  color: #444;
  line-height: 1; }

[type=range] {
  width: 100%; }

label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1rem 0 .5rem; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #aaa; }

/* Tables
  =================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%; }

thead th {
  border-bottom: 2px solid #ccc; }

tfoot th {
  border-top: 2px solid #ccc; }

td {
  border-bottom: 1px solid #ccc; }

th,
td {
  text-align: left;
  padding: .5rem; }

caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: #ababab; }

.striped tbody tr:nth-child(odd) {
  background-color: #ddd; }  

/* Navigation
  ========================================================================= */

/* Vertical */
  /* have to adjust width/margins */
.navV-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  /* set body content, margin-left: 10% */
  background-color: #ddd;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto; }
.navV-li-a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none; }
.navV-li-a.active {
  background-color: #555;
  color: white; }
.navV-li-a:hover:not(.active) {
  background-color: #555;
  color: white; }

/* Horizonal */
.navH-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; }
.navH-li {
  float: left; }
.navH-li-a {
  display: block;
  color: white;
  text-align: center;
  padding: .6rem 1rem;
  text-decoration: none; }
.navH-li-a:hover {
  background-color: #111;
  color: white; }

.active {
  background-color: #29DE7D;
  color: white; }

/* Extra
  ======================================================================== */
  
  .modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}
.modal-content {
  background-color: #fff;
  margin: 1rem auto;
  border: 1px solid #888;
  width: 50%;
}
@media screen and (max-width: 400px) {
  .button {
     width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .modal-content {
     width: 80%;
  }
}
  
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
} 
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
  
 [draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.dropDiv {
  font-size: 9rem;
  line-height: 10rem;
  margin: 0 1rem; }

/* cards */
.card-container {
  display: flex;
  flex-wrap: wrap; }
.card {
  text-align: center;
  margin: 1rem;
  padding: 1rem 1rem;
  background: #eee;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  border-radius: .2rem;
  overflow: hidden;
  transition: all .2s linear; }
.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .25);
  transform: translate3D(0, -.5rem, 0); }
@media screen and (min-width: 200px) {
  .card {
    flex: 1 1 calc(100% - 2rem); } }
@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem); } }
@media screen and (min-width: 800px) {
  .card {
    flex: 1 1 calc(33% - 2rem); } }

/* tooltip */
.tooltip { 
  position: relative; }
.tooltipText {
  font-size: 1rem;
  opacity: 0;
  background: #555;
  color: #fff;
  text-align: center;
  border-radius: .2rem;
  padding: .2rem;
  position: absolute;
  top: 50%;
  z-index: 1;
  transition-duration: .5s;
}
.tooltip:hover .tooltipText {
  opacity: 1; }
@media screen and (max-width: 400px) {
  .tooltipText {
    top: 25%; } }

/* Colors
  =================================================================== */

.bg-maroon { background-color: #59070a; }
.bg-red { background-color: #ff1723; }
.bg-pink { background-color: #ff0f8b; }
.bg-orange { background-color: #ff5607; }
.bg-yellow { background-color: #ffaf10; }
.bg-olive { background-color: #105e0a; }
.bg-green { background-color: #4caf50; }
.bg-lime { background-color: #94ff12; }
.bg-teal { background-color: #0dff5a; }
.bg-aqua { background-color: #16ffb1; }
.bg-navy { background-color: #0c105e; }
.bg-blue { background-color: #1d28ff; }
.bg-baby { background-color: #1c95ff; }
.bg-haze { background-color: #5a0dff; }
.bg-purple { background-color: #b116ff; }
.bg-brown { background-color: #a86427; }
.bg-white { background-color: #FFFFFF; }
.bg-gray { background-color: #AAAAAA; }
.bg-silver { background-color: #DDDDDD; }
.bg-black { background-color: #333333; }

.text-maroon { color: #59070a; }
.text-red { color: #ff1723; }
.text-pink { color: #ff0f8b; }
.text-orange { color: #ff5607; }
.text-yellow { color: #ffaf10; }
.text-olive { color: #105e0a; }
.text-green { color: #4caf50; }
.text-lime { color: #94ff12; }
.text-teal { color: #0dff5a; }
.text-aqua { color: #16ffb1; }
.text-navy { color: #0c105e; }
.text-blue { color: #1d28ff; }
.text-baby { color: #1c95ff; }
.text-haze { color: #5a0dff; }
.text-purple { color: #b116ff; }
.text-brown { color: #a86427; }
.text-white { color: #ffffff; }
.text-gray { color: #aaaaaa; }
.text-silver { color: #dddddd; }
.text-black { color: #333333; }