/* CSS Template
 *
 * Author: Waylan Hedine
 */

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal normal normal 1em sans-serif; }

html, body { margin: 0; height: 100%;}

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Elements
  =================================================================== */

a { color: #0366EE; }
a:hover, a:active, a:focus { color: #0246A2; }

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #ddd; }

label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1rem 0 .5rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%; }

thead th {
  border-bottom: 2px solid #ccc; }

tfoot th {
  border-top: 2px solid #ccc; }

td {
  border-bottom: 1px solid #ccc; }

th,
td {
  text-align: left;
  padding: .5rem; }

caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: #ababab; }

.striped tbody tr:nth-child(odd) {
  background-color: #ddd; } 

/* Grid
======================================================================= */
.flex{
  padding-left: 1rem;
  padding-right: 1rem; }

.flex-row {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flex {
  flex-basis: 100%;
  margin-bottom: 1rem; }

@media (min-width: 600px) {
  .flex {
    flex: 1 1 0;
    margin-bottom: 0; } }


/* Buttons
  =========================================================================== */

.button {
  -webkit-appearance: none;
  border: none;
  border-radius: .3rem;
  color: #fff;
  opacity: .8;
  font: 600 1rem sans-serif;
  padding: .78rem 1.25rem;
  margin: 0 0 .5rem 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1; }

.button:hover {
  border: none;
  opacity: 1;
  color: white; }

.button:focus, 
.button:active {
  border: none;
  opacity: 1;
  text-decoration: none; }

.button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.muted-button {
  background: transparent;
  border: 1px solid #ccc;
  color: #aaa; }
.muted-button:hover, 
.muted-button:focus, 
.muted-button:active {
  color: #888;
  border: 1px solid #aaa;
  background: transparent; }


/* Forms
  ======================================================================= */

.input {
  border: 1px solid #ccc;
  border-radius: .3rem;
  padding: .75rem;
  outline: none;
  background: transparent;
  margin-bottom: .5rem;
  font-size: 1rem;
  line-height: 1; }
 
.input:hover {
  border: 1px solid #999; }
 
.input:focus, 
.input:active{
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px steelblue; }

textarea {
  overflow: auto;
  height: auto; }

select {
  color: #444;
  line-height: 1; }

label {
  font-weight: 600;
  max-width: 100%;
  margin: 1rem 0 .5rem; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #aaa; }

/* Navigation
  ========================================================================= */

/* Vertical */
  /* have to adjust width/margins */
.navV {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  /* set body content, margin-left: 10% */
  background-color: #ddd;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto; }
.navV li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none; }
.navV li a.active {
  background-color: #555;
  color: white; }
.navV li a:hover:not(.active) {
  background-color: #555;
  color: white; }

/* Horizonal */
.navH {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; }
.navH li {
  float: left; }
.navH li a {
  display: block;
  color: white;
  text-align: center;
  padding: .6rem 1rem;
  text-decoration: none; }
.navH li a:hover {
  background-color: #111;
  color: white; }

.active {
  background-color: #29DE7D;
  color: white; }

/* Extra
  ======================================================================== */
  
.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}
.modal-content {
  background-color: #fff;
  margin: 1rem auto;
  border: 1px solid #888;
  width: 50%;
}
@media screen and (max-width: 400px) {
  .button {
     width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .modal-content {
     width: 80%;
  }
}
  
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
} 
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
  
 [draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.dropDiv {
  font-size: 9rem;
  line-height: 10rem;
  margin: 0 1rem; }

/* cards */
.card-container {
  display: flex;
  flex-wrap: wrap; }
.card {
  text-align: center;
  margin: 1rem;
  padding: 1rem 1rem;
  background: #eee;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  border-radius: .2rem;
  overflow: hidden;
  transition: all .2s linear; }
.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .25);
  transform: translate3D(0, -.5rem, 0); }
@media screen and (min-width: 200px) {
  .card {
    flex: 1 1 calc(100% - 2rem); } }
@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem); } }
@media screen and (min-width: 800px) {
  .card {
    flex: 1 1 calc(33% - 2rem); } }

/* tooltip */
.tooltip { 
  position: relative; }
.tooltipText {
  font-size: 1rem;
  opacity: 0;
  background: #555;
  color: #fff;
  text-align: center;
  border-radius: .2rem;
  padding: .2rem;
  position: absolute;
  top: 50%;
  z-index: 1;
  transition-duration: .5s;
}
.tooltip:hover .tooltipText {
  opacity: 1; }
@media screen and (max-width: 400px) {
  .tooltipText {
    top: 25%; } }
	
.bg-image { 
  background: url(/img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Colors
  =================================================================== */

.bg-maroon { background-color: #871816; }
.bg-red { background-color: #ff3e30; }
.bg-pink { background-color: #ff638f; }
.bg-purple { background-color: #9f3985; }
.bg-olive { background-color: #105e0a; }
.bg-green { background-color: #4caf50; }
.bg-lime { background-color: #82ff82; }
.bg-swamp { background-color: #5ebc6f; }
.bg-navy { background-color: #002d4d; }
.bg-blue { background-color: #0e96cc; }
.bg-aqua { background-color: #88fff8; }
.bg-teal { background-color: #3ab7a0; }
.bg-brown { background-color: #a86427; }
.bg-orange { background-color: #ff9a0c; }
.bg-yellow { background-color: #ffdd00; }
.bg-tan { background-color: #feaf69; }
.bg-black { background-color: #222222; }
.bg-gray { background-color: #aaaaaa; }
.bg-silver { background-color: #dddddd; }
.bg-smoky { background-color: #fcefdf; }
.bg-white { background-color: #ffffff; }

.text-maroon { color: #871816; }
.text-red { color: #ff3e30; }
.text-pink { color: #ff638f; }
.text-purple { color: #9f3985; }
.text-olive { color: #105e0a; }
.text-green { color: #4caf50; }
.text-lime { color: #82ff82; }
.text-swamp { color: #5ebc6f; }
.text-navy { color: #002d4d; }
.text-blue { color: #0e96cc; }
.text-aqua { color: #88fff8; }
.text-teal { color: #3ab7a0; }
.text-brown { color: #a86427; }
.text-orange { color: #ff9a0c; }
.text-yellow { color: #ffdd00; }
.text-tan { color: #feaf69; }
.text-black { color: #222222; }
.text-gray { color: #aaaaaa; }
.text-silver { color: #dddddd; }
.text-smoky { color: #fcefdf; }
.text-white { color: #ffffff; }

/* Helpers
  ======================================================================== */

/* border */
.bordCol {border-collapse: collapse;}
.radius-sm {border-radius: .5rem;}
.radius-md {border-radius: 1rem;}
.circle {border-radius: 50%;}
.square {border-radius: 0;}

.border-hid {border-style: hidden;}
.border-dot {border-style: dotted;}
.border-das {border-style: dashed;}
.border-sol {border-style: solid;}
.border-dou {border-style: double;}
.border-gro {border-style: groove;}
.border-rid {border-style: ridge;}
.border-ins {border-style: inset;}
.border-out {border-style: outset;}

/* box-shadow */
.shadow-sm {box-shadow: .1rem .1rem .1rem #333;}
.shadow-md {box-shadow: .5rem .5rem .5rem #333;}
.shadow-lg {box-shadow: 1rem 1rem 1rem #333;}

/* caption */
.capt-bot {caption-side: bottom;}

/* cursor */
.grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.move {cursor: move;}
.cursor-none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

/* display */
.none {display: none;}
.inline {display: inline;}
.block {display: block;}
.inline-block {display: inline-block;}
.contents {display: contents;}
.grid {display: grid;}
.inline-grid {display: inline-grid;}
.flex {display: flex;}
.inline-flex {display: inline-flex;}

/* float */
.float-right {float: right;}
.float-left {float: left;}

/* font */
.menlo {font-family: Menlo, monospace;}
.lucid {font-family: "Lucida Console", Monaco, monospace;}
.trebu {font-family: "Trebuchet MS", Helvetica, sans-serif;}
.impac {font-family: Impact, Charcoal, sans-serif;}
.comic {font-family: "Comic Sans MS", cursive, sans-serif;}
.arial {font-family: Arial, Helvetica, sans-serif;}
.times {font-family: "Times New Roman", Times, serif;}
.font-sm {font-size: .75rem;}
.font-md {font-size: 1rem;}
.font-lg {font-size: 1.5rem;}
.font-2 {font-size: 2rem;}
.font-3 {font-size: 3rem;}
.font-4 {font-size: 4rem;}
.font-5 {font-size: 5rem;}
.italic {font-style: italic;}
.bold {font-weight: bold;}

/* height */
.no-height {height: 0;}
.full-height {height: 100%;}
.top {top: 0;}
.left {left: 0;}
.bottom {bottom: 0;}
.right {right: 0;}

/* list */
.list-none {list-style-type: none;}
.list-square {list-style-type: square;}
.list-decimal {list-style-type: decimal;}

/* margin */
.auto {margin: auto;}
.margin {margin: 1rem;}
.no-margin {margin: 0;}
.no-margin-top {margin-top: 0;}
.no-margin-bottom {margin-bottom: 0;}
.no-margin-left {margin-left: 0;}
.no-margin-right {margin-right: 0;}
.margin-top {margin-top: 1rem;}
.margin-bottom {margin-bottom: 1rem;}
.margin-left {margin-left: 1rem;}
.margin-right {margin-right: 1rem;}

/* opacity */
.opacity-100 {opacity: 1;}
.opacity-75 {opacity: 0.75;}
.opacity-50 {opacity: 0.5;}
.opacity-25 {opacity: 0.25;}
.opacity-0 {opacity: 0;}

/* overflow */
.overflow {overflow: auto;}
.overflow-scroll {overflow: scroll;}
.overflow-hide {overflow: hidden;}

/* padding */
.padding {padding: 1rem;}
.no-padding {padding: 0;}
.no-padding-top {padding-top: 0;}
.no-padding-bottom {padding-bottom: 0;}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0;}
.padding-top {padding-top: 1rem;}
.padding-bottom {padding-bottom: 1rem;}
.padding-left {padding-left: 1rem;}
.padding-right {padding-right: 1rem;}

/* position */
.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.sticky {position: sticky;}

/* text */
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.decor-none {text-decoration: none;}
.decor-line {text-decoration: line-through;}
.decor-over {text-decoration: overline;}
.decor-under {text-decoration: underline;}
.over-under {text-decoration: underline overline;}
.over-under-through {text-decoration: line-through underline overline;}
.dashed {text-decoration-style: dashed;}
.dotted {text-decoration-style: dotted;}
.double {text-decoration-style: double;}
.wavy {text-decoration-style: wavy;}

/* visibility */
.invisible {visibility: hidden;}
.visible {visibility: visible;}

/* width */
.width-100 {width: 100%;}
.width-75 {width: 75%;}
.width-50 {width: 50%;}
.width-25 {width: 25%;}
.width-33 {width: 66.66%;}
.width-33 {width: 33.33%;}

::placeholder { opacity: .5; }